<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>B2B Accesses</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datepicker3.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/cbe.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <!-- <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/personas">Personas <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stats">Stats</a>
            </li>
        </ul> -->
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
</nav>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h3>B2B Servers</h3>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Destination</th>
                    <th scope="col">User</th>
                    <th scope="col">Access From</th>
                    <th scope="col">Notes</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                 {{range .}}
                  <tr>
                    <td>{{.ServerDestination}}</td>
                    <td>{{.UserDestination}}</td>
                    <td>{{.From}}</td>
                    <td>{{.Notes}}</td>
                    <td>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <ul style="list-style-type:none;">
                                        <a href="/edit/{{.ID}}" class="btn btn-primary btn-sm">Edit</a>
                                        <a href="delete.html?id={{.ID}}" class="btn btn-primary btn-sm btn-danger">Delete</a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                  </tr>
                  {{end}}
                </tbody>
              </table>

            <!-- <form method="post" id="addinteraction">
                    <div class="form-group">
                        <label for="persons">Quién</label>
                        <select class="form-control" id="persons" required></select>
                    </div>
                    <div class="form-group">
                        <label for="date">Fecha</label>
                        <input type="text" class="form-control" id="date" required><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                      </div>

                    <div class="form-group">
                        <label for="interactiontext">Interacción</label>
                        <textarea class="form-control" id="interactiontext" required></textarea>
                    </div>

                    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert_error">
                            <strong>Error agregando interacción</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                    <div class="alert alert-success alert-dismissible fade show" role="alert" id="alert">
                            Interacción Agregada correctamente
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
    
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </form> -->
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>A</h2>
                <ul class="list-group list-group-flush" id="family_interactions">
                </ul>
            </div>
            <div class="col-md-4">
                <h2>B</h2>
                <ul class="list-group list-group-flush" id="friend_interactions">
                </ul>
            </div>
            <div class="col-md-4">
                <h2>C</h2>
                <ul class="list-group list-group-flush" id="coworkers_interactions">
                </ul>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

<footer class="container">
    <p>&copy; B2B 2020</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/js/cbe.js"></script>
</body>
</html>
